body {
  /* display: flex;
  flex-direction: column;
  align-items: center;
   */
  text-align: center;
  width: 100%;
}
.front-page {
  height: 100vh;
} 

.front-page-pic {
  width: 50%;
  height: 80%;
  object-fit: cover;
}

.plant-info-pic {
  width: 20vw;
  height: 30vh;
  object-fit: cover;
  border: forestgreen solid 2px;
  border-radius: 40%;
}

.plant-page-box {
  height: 100vh;
  width: 80vw;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 65vh 35vh; 

  align-items: stretch;
}

.plantname-box {
  span: 1/3;
}