body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: red solid 1px;
  width: 100%;
}
.front-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  border: goldenrod solid 1px;
} 

.front-page-header {
  position: relative;
  /* bottom: 12%; */
}

.front-page-pic {
  position: relative;
  width: 60%;
  height: 60%;
  object-fit: cover;
  /* bottom: 10%; */
}

.front-page-calender {
  height: 20%;
  width: 60%;
  margin: 2% 0 1% 0;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}

.nav-bar {
  position: absolute;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 8%;
}

.nav-bar-left {
  align-self: start;
  border: aquamarine solid 2px;
  position: fixed;
  z-index: 4;
}
    .nav-bar-left-1 {

    }

.nav-bar-right {
  
  align-self: end;
  /* left: 80vw; */
}

.nav-bar-element {
  border: black 1px solid;
  height: 25vh;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plant-page-grid {
  height:90vh;
  width: 60vw;

  border: yellowgreen 3px solid;

  position: absolute;
  z-index: 3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.plant-page-grid-box1 {
  height: 60.4%;
  width: 24.8%;

  border: black 1px solid;
}
.plant-page-grid-box2 {
  height: 39.4%;
  width: 24.8%;

  border: black 1px solid;
}

.plant-page {
  position: relative;
}

.plant-page-box {
  height: 90vh;
  width: 60vw;
  margin-top: 5vh;
  margin-bottom: 5vh;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 15vh 45vh 40vh; 

  border: slateblue 3px solid;

  position: relative;
  z-index: 2;  
 
}

.plantname-box {
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  padding: 3vh 0 0 1vw;
}

.plant-quick-info-box {
  grid-column: 1 / 5;
  grid-row: 2 / 3;

  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.plant-picture-box {
  grid-column: 5 / 9;

  margin: 6vh 0px 0 5vw;
}

.picture-box {
  width: 20vw;
  height: 40vh;
  object-fit: cover;
  border: forestgreen solid 2px;
  border-radius: 40%;
}
.fertilizer-box {
  grid-column: 2 / 4;
  grid-row: 3 / 4;

  padding: 0 0 0 1vw;
}

.maintenance-box {
  grid-column: 5 / 9;
  grid-row: 3 / 4;

  padding: 0 1vw 0 4vw;
}