body {
  display: flex;
  flex-direction: column;
  align-items: center; 

  width: 100%;
}

.front-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

.front-page-pic {
  width: 50%;
  height: 80%;
  object-fit: cover;
}

.plant-page-grid {
  height:90vh;
  width: 60vw;

  border: yellowgreen 3px solid;

  position: absolute;
  z-index: 3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.plant-page-grid-box1 {
  height: 64.4%;
  width: 24.8%;

  border: black 1px solid;
}
.plant-page-grid-box2 {
  height: 34.4%;
  width: 24.8%;

  border: black 1px solid;
}

.plant-page {
  position: relative;
}

.plant-page-box {
  height: 90vh;
  width: 60vw;
  margin-top: 5vh;
  margin-bottom: 5vh;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 15vh 50vh 35vh; 

  border: slateblue 3px solid;

  position: relative;
  z-index: 2;  
 
}

.plantname-box {
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  padding: 3vh 0 0 1vw;
}

.plant-quick-info-box {
  grid-column: 1 / 5;
  grid-row: 2 / 3;

  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.plant-picture-box {
  grid-column: 5 / 9;

  margin: 10vh 0px 0 5vw;
}

.picture-box {
  width: 20vw;
  height: 40vh;
  object-fit: cover;
  border: forestgreen solid 2px;
  border-radius: 40%;
}
.fertilizer-box {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.maintenance-box {
  grid-column: 6 / 9;
  grid-row: 3 / 4;
}